<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Objective Solutions - Nathalia Bruno Test</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">
                <strong>Busca Marvel</strong> Teste Front-end
                <span class="header-title-line"></span>
            </h1>
            <h2 class="header-subtitle">
                Nathalia Bruno
            </h2>
        </header>
        <section class="content">
            <form action="" class="content-form">
                <label for="input-search" class="content-form-label">Nome do Personagem</label>
                <input type="text" id="input-search" class="content-form-input">
                <legend id="input-legend" class="content-form-legend">Digite no mínimo 3 letras</legend>
            </form>
            <section class="content-results">
                <ul class="content-results-list" id="results">
                    <li class="content-results-list-header" id="list-header">
                        <div>Personagem</div>
                        <div>Séries</div>
                        <div>Eventos</div>
                    </li>

                </ul>
            </section>
            <nav class="content-pagination" id="pagination">
            </nav>
        </section>
    </div>
    <footer class="footer"></footer>
</body>
</html>
