<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Objective Solutions - Nathalia Bruno Test</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">
                <strong>Busca Marvel</strong> Teste Front-end
                <span class="header-title-line"></span>
            </h1>
            <h2 class="header-subtitle">
                Nathalia Bruno
            </h2>
        </header>
        <section class="content">
            <form action="" class="content-form">
                <label for="input-search" class="content-form-label">Nome do Personagem</label>
                <input type="text" id="input-search" class="content-form-input">
                <legend id="input-legend" class="content-form-legend">Digite no mínimo 3 letras</legend>
            </form>
            <section class="content-results">
                <ul class="content-results-list" id="results">
                </ul>
            </section>
            <nav class="content-pagination" id="pagination">
            </nav>
        </section>
    </div>
    <footer class="footer"></footer>
    <section class="details" id="details-modal">
        <div class="details-overlay" id="overlay-close"></div>
        <div class="details-content">
            <a href="javascript:;" class="details-close" id="close-modal">&times;</a>
            <h4 id="character-name" class="details-content-title">
                <span class="details-content-title-line"></span>
            </h4>
            <div class="details-content-infos">
                <img src="" id="character-image" alt="" class="details-content-image">
                <p class="details-content-description" id="character-description"></p>
            </div>
            <div class="details-content-columns">
                <section class="details-content-section">
                    <h5 class="details-content-section-title">Séries</h5>
                    <ul class="details-content-section-list" id="character-series">
                    </ul>
                </section>
                <section class="details-content-section">
                    <h5 class="details-content-section-title">Eventos</h5>
                    <ul class="details-content-section-list" id="character-events">
                    </ul>
                </section>
            </div>
        </div>
    </section>
</body>
</html>
