<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Objective Solutions - Nathalia Bruno Test</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="header-title">
                <strong>Busca Marvel</strong> Teste Front-end
                <span class="header-title-line"></span>
            </h1>
            <h2 class="header-subtitle">
                Nathalia Bruno
            </h2>
        </header>
        <section class="content">
            <form action="" class="content-form">
                <label for="input-search" class="content-form-label">Nome do Personagem</label>
                <input type="text" id="input-search" class="content-form-input">
                <legend id="input-legend" class="content-form-legend">Digite no mínimo 3 letras</legend>
            </form>
            <section class="content-results">
                <ul class="content-results-list" id="results">
                </ul>
            </section>
            <nav class="content-pagination" id="pagination">
            </nav>
        </section>
    </div>
    <footer class="footer"></footer>
    <section class="details">
        <div class="details-overlay"></div>
        <div class="details-content">
            <a href="#" class="details-close" id="close-modal">&times;</a>
            <h4 id="character-name" class="details-content-title">
                Hulk
                <span class="details-content-title-line"></span>
            </h4>
            <div class="details-content-infos">
                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0/standard_medium.jpg" id="character-image" alt="" class="details-content-image">
                <p class="details-content-description" id="character-description">Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. An all too often misunderstood hero, the angrier the Hulk gets, the stronger the Hulk gets.</p>
            </div>
            <div class="details-content-columns">
                <section class="details-content-section">
                    <h5 class="details-content-section-title">Séries</h5>
                    <ul class="details-content-section-list" id="character-series">
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank"">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank"">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                    </ul>
                </section>
                <section class="details-content-section">
                    <h5 class="details-content-section-title">Eventos</h5>
                    <ul class="details-content-section-list" id="character-events">
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank"">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                        <li class="details-content-section-list-item">
                            <a class="details-content-section-list-item-external-link" href="#" target="_blank">
                                <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/514a2ed3302f5/portrait_small.jpg" alt="" class="details-content-section-list-item-image">
                                <h5 class="details-content-section-list-item-title">
                                    5 Ronin (2011)
                                </h5>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</body>
</html>
