.details
    display: block
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0

    &-overlay
        background: rgba(127,127,127,0.8)
        position: fixed
        height: 100%
        width: 100%

    &-content
        background: $white
        position: fixed
        width: 80%
        height: 80%
        transform: translate(-50%, -50%)
        left: 50%
        top: 50%
        border-top: 4px solid $first-color
        border-bottom: 4px solid $first-color
        padding: 20px

        &-title
            font-weight: 900
            color: $first-color
            text-transform: uppercase
            font-size: rem(27)
            &-line
                display: block
                height: 4px
                width: 54px
                background-color: $first-color


        &-infos
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 20px 0

        &-image
            display: block
            border-radius: 50%

        &-description
            margin-left: 20px
            font-size: rem(14)
            line-height: 1.2
